BIT30/코드(code)/WPF/1104오후수업클라이언트/1104오후수업클라이언트/Connected Services/ServiceReference1/helloworldservice1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.34:8888/wcf/example/helloworldservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_1105%EC%98%A4%ED%9B%84%EC%88%98%EC%97%85" />
  <xs:import schemaLocation="http://192.168.0.34:8888/wcf/example/helloworldservice?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetExample">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/_1105%EC%98%A4%ED%9B%84%EC%88%98%EC%97%85" minOccurs="0" name="GetExampleResult" nillable="true" type="q1:ArrayOfCal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputExample">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:int" />
        <xs:element minOccurs="0" name="n2" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="c1" type="q2:char" />
        <xs:element minOccurs="0" name="f1" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputExampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InputExampleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="printExample">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:int" />
        <xs:element minOccurs="0" name="n2" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="c1" type="q3:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="printExampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="printExampleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>