BIT30/WCF/1104Winfrom클라이언트/1104Winfrom클라이언트/Connected Services/ServiceReference1/PictureService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PictureService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.34:8888/PictureService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.34:8888/PictureService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.34:8888/PictureService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPictureService_GetPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPicture" />
  </wsdl:message>
  <wsdl:message name="IPictureService_GetPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPictureResponse" />
  </wsdl:message>
  <wsdl:message name="IPictureService_GetPictureList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPictureList" />
  </wsdl:message>
  <wsdl:message name="IPictureService_GetPictureList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPictureListResponse" />
  </wsdl:message>
  <wsdl:message name="IPictureService_UploadPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadPicture" />
  </wsdl:message>
  <wsdl:message name="IPictureService_UploadPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadPictureResponse" />
  </wsdl:message>
  <wsdl:portType name="IPictureService">
    <wsdl:operation name="GetPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IPictureService/GetPicture" message="tns:IPictureService_GetPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPictureService/GetPictureResponse" message="tns:IPictureService_GetPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPictureList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPictureService/GetPictureList" message="tns:IPictureService_GetPictureList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPictureService/GetPictureListResponse" message="tns:IPictureService_GetPictureList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IPictureService/UploadPicture" message="tns:IPictureService_UploadPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPictureService/UploadPictureResponse" message="tns:IPictureService_UploadPicture_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPictureService" type="tns:IPictureService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPicture">
      <soap:operation soapAction="http://tempuri.org/IPictureService/GetPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictureList">
      <soap:operation soapAction="http://tempuri.org/IPictureService/GetPictureList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPicture">
      <soap:operation soapAction="http://tempuri.org/IPictureService/UploadPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PictureService">
    <wsdl:port name="BasicHttpBinding_IPictureService" binding="tns:BasicHttpBinding_IPictureService">
      <soap:address location="http://192.168.0.34:8888/PictureService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>